body {
    background-color: #97bd6b;
}
button {
    background: #55b651;
    border-color: rgb(8, 8, 8);
    border-width: 5x;
    width: 300px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    
}


.centered {
    text-align: center;

}

img.random-capybara {
    height: 600px;
    display: block;
    margin: 0 auto;
}


